.parallax-card {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}

.parallax-card > .front,
.parallax-card > .back {
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
	border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.parallax-card > .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* (Opaque backgrund) */
.parallax-card > .front:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	opacity: .6;
	background-color: #000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 10px;
}

.parallax-card-body {
	-webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
	transform: translateY(-50%) translateZ(60px) scale(0.94);
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 2rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 1px solid transparent;
	-webkit-perspective: inherit;
	perspective: inherit;
	z-index: 2;
}

/* Hover effects */
.parallax-card:hover .front,
.parallax-card:hover .back{
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.parallax-card .back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.parallax-card .front,
.parallax-card:hover .back{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.parallax-card:hover .front{
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}